In [1]:
import pandas as pd
import datetime as dt
import dateutil.parser
import calendar
# !pip install openpyxl

In [2]:
# Read in CSVs downloaded from Citibike data

jc_data_all_df = pd.read_csv('jc_citbikes 2.csv')

In [3]:
jc_data_all_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   started_at          1000000 non-null  object
 1   ended_at            1000000 non-null  object
 2   start_station_id    1000000 non-null  object
 3   start_station_name  1000000 non-null  object
 4   start_lat           1000000 non-null  float64
 5   start_lng           1000000 non-null  float64
 6   end_station_id      997224 non-null   object
 7   end_station_name    997224 non-null   object
 8   end_lat             998155 non-null   float64
 9   end_lng             998155 non-null   float64
 10  member_casual       1000000 non-null  object
 11  new_duration        1000000 non-null  float64
 12  index1              1000000 non-null  int64
dtypes: float64(5), int64(1), object(7)
memory usage: 99.2+ MB

In [4]:
jc_data_all_df['started_at'] = pd.to_datetime(jc_data_all_df['started_at'])
jc_data_all_df['ended_at'] = pd.to_datetime(jc_data_all_df['ended_at'])
(jc_data_all_df.ended_at-jc_data_all_df.started_at).astype('timedelta64[m]')

0          9.0
1         19.0
2         22.0
3         12.0
4          2.0
          ...
999995     7.0
999996     4.0
999997     2.0
999998     6.0
999999     3.0
Length: 1000000, dtype: float64

In [7]:
jc_data_all_clean_df=jc_data_all_df[jc_data_all_df['started_at']<'2022-09-01 00:00:00']

In [13]:
jc_data_all_df.head()

,started_at,ended_at,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,member_casual,new_duration,index1
0,2022-07-24 16:32:53.000,2022-07-24 16:42:00.000,JC109,Bergen Ave & Sip Ave,40.731009,-74.064437,JC095,Bergen Ave,40.722104,-74.071455,member,9.0,1087930
1,2021-12-07 19:58:31.000,2021-12-07 20:18:06.000,HB105,City Hall - Washington St & 1 St,40.737360,-74.030970,JC066,Newport PATH,40.727224,-74.033759,member,19.0,601486
2,2020-07-20 20:42:48.596,2020-07-20 21:05:31.010,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,Subscriber,22.0,567811
3,2020-10-03 15:52:09.559,2020-10-03 16:04:21.296,3185,City Hall,40.717732,-74.043845,3192,Liberty Light Rail,40.711242,-74.055701,Subscriber,12.0,681751
4,2022-03-19 22:10:48.000,2022-03-19 22:13:39.000,JC056,Sip Ave,40.730897,-74.063913,JC055,McGinley Square,40.725340,-74.067622,member,2.0,703544

In [9]:
jc_data_all_clean_df['started_at'].loc[jc_data_all_df['started_at'] >'2022-09-01 00:00:00']

Series([], Name: started_at, dtype: datetime64[ns])

In [11]:
jc_data_all_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 978174 entries, 0 to 999999
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   started_at          978174 non-null  datetime64[ns]
 1   ended_at            978174 non-null  datetime64[ns]
 2   start_station_id    978174 non-null  object
 3   start_station_name  978174 non-null  object
 4   start_lat           978174 non-null  float64
 5   start_lng           978174 non-null  float64
 6   end_station_id      975505 non-null  object
 7   end_station_name    975505 non-null  object
 8   end_lat             976400 non-null  float64
 9   end_lng             976400 non-null  float64
 10  member_casual       978174 non-null  object
 11  new_duration        978174 non-null  float64
 12  index1              978174 non-null  int64
dtypes: datetime64[ns](2), float64(5), int64(1), object(5)
memory usage: 104.5+ MB

In [14]:
jc_data_all_clean_df.to_csv('jc_citbikes_clean.csv',index=0)
jc_citbikes_clean = pd.read_csv('jc_citbikes_clean.csv')